<div class="card">
  <h4 class="card-header">Isentia Web Application</h4>
  <div class="card-body">
    <div class="row">
      <div>
        <p>A simple web application that reads data from Flickr's public feeds and displays the images on the page to the user. </p>
      </div>
    </div>

    <ul>
      <li>
        <b>Author: </b>Harshini Mariswamy
      </li>
      <li>
        <b>GitHub: </b><a href="https://github.com/harshinim/WebProject" target="_blank">Project repository</a>
      </li>
      <li>
        <b>Challenge: </b><a href="https://github.com/Isentia/Coding-Challenge/blob/master/Software-Engineer-Full-Stack-JavaScript-Coding-Challenge.md" target="_blank">Coding Challenge</a>
      </li>
      <li>
        <b>Tools Used:</b>
      </li>
      <ul>
        <li>
          <a href="https://angular.io/" target="_blank">Angular</a>
        </li>
        <li>
          <a href="https://nodejs.org/" target="_blank">Node.js</a>
        </li>
        <li>
          <a href="http://expressjs.com/" target="_blank">Express.js</a>
        </li>
      </ul>
      <li>
        <b>Resources & Documentation:</b>
      </li>
      <ul>
        <li>
          <a href="https://www.flickr.com/services/feeds/" target="_blank">Flickr</a>
        </li>
        <li>
          <a href="https://api.flickr.com/services/feeds/photos_public.gne" target="_blank">Public Feed</a>
        </li>
      </ul>
    </ul>
  </div>
</div>
